<!DOCTYPE html>
<html lang='eng'>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        
        <!--fonts-->
        <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!--leafletjs-->
         <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
         <!--style.css-->
         <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
         
         <!--mapboxjs-->
          <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet'>
          <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
          <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
          <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
          
          
          
          <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}" />
          <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/bootstrap-colorpicker.min.css') }}" />
          <script src="{{ url_for('static', filename='dist/js/bootstrap-colorpicker.min.js') }}"></script>

    <body>
       <div id="wrap">
         
                <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"  style="background-color:#FFB100">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{url_for('index')}}">{% block projectname %}{% endblock %}</a>
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse " id="navbar">
              
             

               {% set navigation_bar = [ ('/', 'index', 'Home'),
                                         ('/map', 'map', 'Map'),
                                         ('/admin', 'admin', 'Admin'),
                                         ('/logout', 'logout', 'Logout'),
                                         ('/login', 'login', 'Login'),
                                         ('/register', 'register', 'Register')]%}
                
               <ul class="nav navbar-nav navbar-right">
                  {% for href, id, caption in navigation_bar %}
                      {% if id == "admin"%}
                              {% if session.get('is_author') %}
                                  <li{% if id == active_page %} class="active"{% endif
                                    %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
                              {% endif %}
                       {% elif id == "logout"%}
                              {% if session.get('username') %}
                                  <li{% if id == active_page %} class="active"{% endif
                                    %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
                              {% endif %}
                       {% elif id == "login"%}
                              {% if not session.get('username') %}
                                  <li{% if id == active_page %} class="active"{% endif
                                    %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
                              {% endif %}
                       {% elif id == "register"%}
                              {% if not session.get('username') %}
                                  <li{% if id == active_page %} class="active"{% endif
                                    %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
                              {% endif %}
                       
                      {% else %}
                           <li{% if id == active_page %} class="active"{% endif
                      %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
                       
                      {% endif %}
                 
                  {% endfor %}
                  
                 
                    
               </ul>



            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

            
      
         
           
                {% block content %}{% endblock %}
      
        
        </div>   
           
     <div id="push"></div>
    </div>

            <div id="footer">
              <div class="container">
                <p class="text-muted credit">&copy; Copyright 2016
                    {% if session.get('is_author') %} - <a href="{{ url_for('admin') }}">Admin</a>{% endif %}
                    {% if session.get('is_author') %} - <a href="{{ url_for('csvtomysql') }}">Import</a>{% endif %}
                    {% if session.get('username') %} - <a href="{{ url_for('logout') }}">Logout</a>
                    {% else %} - <a href="{{ url_for('login') }}">Login</a> - <a href="{{ url_for('register') }}">Register</a>
                    {% endif %}</p>
              </div>    
        </div>
    
    
    
     </body>      
</html>