
{% extends "base.html" %}
{% set active_page = "map" %}
{% block title %}Crime Map{% endblock %}
{% block projectname %}{{ blog.name }}{% endblock %}
{% block content %}


  
       <div class='row'>
            <div class="container">
                <div id="map" style="width:100%; height:300px;"></div>
                   <h1>{{ object.id }} - {{object.crime_type}} </h1>
                   <div class="container">
                        <p><center><h4>Crime Date:</h4> {{ object.crime_date }}</center></p><hr>
                            <p> <center><h4>Judgement Date:</h4>{{ object.judgement_date }}</center></p><hr>
                        <p><center><h4>Case Info:</h4> {{ object.case_info }}</center></p><hr>
                       <p> <center><h4>Crime Info:</h4>{{ object.crime_info }}</center></p><hr>
                        <p> <center><h4>Address:</h4>{{ object.address }}</center></p><hr>
                   </div>
                    
                </div>
                
                <br><br>
            </div>
            
            <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
     
        <script type="text/javascript">
 
            
              L.mapbox.accessToken = "pk.eyJ1IjoiZHRyaW5pZGFkaXYiLCJhIjoiY2lqYTA5aHN0MDA0MHVsa245NGZpM3NuNSJ9.9bO-Y4WM8tHMPZbRZVyfMQ";
 
 
  var map = L.mapbox.map('map', 'mapbox.streets')
 .setView([{{object.lat}},{{object.lon}}],15)

  var marker = L.marker([{{ object.lat}}, {{ object.lon }}]).addTo(map);
        </script>
       
 {% endblock %}       
 
