{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %}{{ blog.name }}{% endblock %}
{% block projectname %}{{ blog.name }}{% endblock %}
{% block content %}

 
           

 <div class="container">
    <div class = "row">
       <div class="col-md-5">
     
      
                 
                       <h2 class="page-header">
                     
                        <small>{{  x }} </small>
                    </h2>
                    
                    {% for post in posts.items %}
                
                      
                        <h4><a href="{{ url_for('article', slug=post.slug) }}">{{ post.title }}</a></h4>
                         <p >
                            by <a href="index.php">{{ post.author.fullname }}</a> 
                               <span class="glyphicon glyphicon-time"></span>
                               <small>Posted on  {{ post.publish_date.strftime('%Y-%m-%d') }}</small>
                        </p>
                        <div align="right">
                             <a class="btn btn-primary" href="{{ url_for('article', slug=post.slug) }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
    
                        </div>
                         <hr>
                {% endfor %}
     

                    
                <!-- Pager -->
                <ul class="pager">
                     {% if posts.has_prev %}
                    <li class="previous">
                        <a href="{{ url_for('index', page=posts.prev_num) }}">&larr; Newer posts</a>
                    </li>
                    {% endif %}
                    {% if posts.has_next %}
                    <li class="next">
                         <a href="{{ url_for('index', page=posts.next_num) }}"> Older posts  &rarr;</a>
                    </li>
                     {% endif %}
                </ul>
      
        </div>
        
        <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-7">
                 <div class="wrapper" style="padding-top:70px">
                     
                      <!-- Side Widget Well -->
                    <div class="jumbotron">
                        <h4></h4>
                        <p></p>
                    </div>
                    
                      <!-- Side Widget Well -->
                    <div class="well">
                        <h4></h4>
                        <p></p>
                    </div>
                     
              
                     
                     
                 </div>
               
            </div>

    </div>
</div>

{% endblock %}