{% extends "base.html" %}
{% set active_page = "admin" %}
{% block title %} Site Admin {% endblock %} 
{% block projectname %}{{ blog.name }}{% endblock %}
{% block content %}


<div class="container">
  <h2 class="page-header">Manage Populations
     
  </h2>
   {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="messages">
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>    
        </div>
        
        {% endif %}
        {% endwith %}
   <div align="right">
      <a class="btn btn-default" href="{{url_for('admin')}}">
       Admin</a>
      </div>
        
  <table class="table table-hover">
    <thead>
      <tr>
  
        <th>Population</th>
         <th>Barangay</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
        {% for population in populations.items %}
        
      <tr>
  
        <td>{{population.population}}</td>
        <td>{{population.barangay}}</td>
        <td>{{population.year}}</td>
        
         <td>
            <a href="{{url_for('deletepopulation',population_id = population.id)}}">Remove</a>
        </td>
       
      </tr>
      
        {% endfor %}
       
    </tbody>
    
  </table>
   <hr>
  
       <div>
            <!-- Pager -->
                <ul class="pager">
                     {% if populations.has_prev %}
                    <li class="previous">
                        <a href="{{ url_for('managepopulations', page=populations.prev_num) }}">&larr;Previous</a>
                    </li>
                    {% endif %}
                    {% if populations.has_next %}
                    <li class="next">
                         <a href="{{ url_for('managepopulations', page=populations.next_num) }}"> Next &rarr;</a>
                    </li>
                     {% endif %}
                </ul>
           
       </div>
       
       
        <div class="container">
          <div class="col-md-4">
                <h2>Add Population</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>

        </div>
        <div class="col-md-8">
              <div class="well" >
                   {% from "_formhelpers.html" import render_field %}
      
                    <form method = "POST" action = "" enctype="multipart/form-data" role = "form">
            
                        
                        {{ form.hidden_tag() }}
                         
                        
                        {{ render_field(form.population, class='form-control') }}
                        {{ render_field(form.barangay, class='form-control') }}
                        {{ render_field(form.year, class='form-control') }}

                         <div align="right" >
                               <button type='submit' class="btn btn-default">Add</button>
                         </div>
                      
                   
                      
                    </form>
              </div>    
        </div>
            
        
    </div>
        
              
      
</div>  

{% endblock %}