  /* Styles go here */
  
  /* Sticky footer styles
  -------------------------------------------------- */
  
  html,
  body {
    padding-top: 30px;
    
    height: 100%;
    font-family: Ubuntu;
   
    /* The html and body elements cannot have any padding or margin. */
  }
  
  /* Wrapper for page content to push down footer */
  #wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
  }
  
  /* Set the fixed height of the footer here */
  #footer {

    height: 60px;
    background-color: #2D3033;
    font-family: Lato;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /*margin in footer text*/
  
  .container .credit {
    margin: 20px 0;
  }


@font-face {
  font-family: Lobster;

  src: url('/static/fonts/lobster.otf');
 }

@font-face {
  font-family: Secret;

  src: url('/static/fonts/_TOP_SECRET_.otf');
 }



@font-face {
  font-family: Ubuntu;

  src: url('/static/fonts/Ubuntu-L.ttf');
 }


 .logo {

  font-family: Lobster;
  font-size: 60px;
 }
 
 .navbar-inverse {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
.navbar-default .navbar-nav > li > a {
    color: #777777;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color:#0660AD;
    color: #555555;
}

.navbar-inverse .navbar-brand {
     color:#337AB7;
}


.nav.navbar-nav.navbar-right li a  {
    color: white;
    font-weight: bold;
    font-size: 16px;
}



.navbar-brand{
   font-family: Secret;
   color: red;
  font-size: 30px;
  
  
}

 .page-header{

  font-family: Arvo, serif;
  font-weight: bold;
  font-size:50px;
  
 }

.profile-img {
    border-radius: 50%;
    height:100px;
    width:100px;
}

 

