{% extends "base.html" %}
{% set active_page = "login" %}
{% block title %} User Login {% endblock %}
{% block projectname %}{{ blog.name }}{% endblock %}
{% block content %}

<div class="row">
    <div class = "col-md-offset-3 col-md-6">
        <h3>User Login</h3>
        {%if error%}
        <div class = "error text-danger">{{ error }}</div>
        {% endif %}
        
        {% from "_formhelpers.html" import render_field %}
        <form method='POST' action="{{ url_for('login') }}" role = "form">
            {{ form.hidden_tag() }}
            
            {{ render_field(form.username, class='form-control') }}
            {{ render_field(form.password, class='form-control') }}
            
            <button type="submit" class="btn btn-default">Login</button>
        </form>
    </div>
</div>


{% endblock %}
