{% extends "base.html" %}
{% set active_page = "admin" %}
{% block title %} Site Admin {% endblock %} 
{% block projectname %}{{ blog.name }}{% endblock %}
{% block content %}

     <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Admin Dashboard</h1>
        <p>A dashboard, the control panel for a website's content management system. </p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <div class="well" style="background-color:#D4EDF4">
                <h2>Manage Blog</h2>
                <p></p>
                  <p><a class="btn btn-default" href="{{url_for('manage')}}" role="button">Manage &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-4">
          <div class="well" style="background-color:#F9FBBA">
                <h2>Import Data</h2>
                <p></p>
                  <p><a class="btn btn-default" href="{{url_for('csvtomysql')}}" role="button">Import &raquo;</a></p>
            </div>
       </div>
        <div class="col-md-4">
          <div class="well" style="background-color:#C3D7DF">
                <h2>Manage Case</h2>
                <p></p>
                    <p><a class="btn btn-default" href="{{url_for('managecases')}}" role="button">Manage &raquo;</a></p>
            </div>
        </div>
      </div>

      <hr>
      
        <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <div class="well" style="background-color:#D4EDF4">
                <h2>Manage Barangay</h2>
                <p></p>
                  <p><a class="btn btn-default" href="{{url_for('managebarangays')}}" role="button">Manage &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-4">
          <div class="well" style="background-color:#F9FBBA">
                <h2>Manage Crime Type</h2>
                <p></p>
                  <p><a class="btn btn-default" href="{{url_for('managecrimetypes')}}" role="button">Manage &raquo;</a></p>
            </div>
       </div>
        <div class="col-md-4">
          <div class="well" style="background-color:#C3D7DF">
                <h2>Manage Populations</h2>
                <p></p>
                   <p><a class="btn btn-default" href="{{url_for('managepopulations')}}" role="button">Manage &raquo;</a></p>
            </div>
        </div>
      </div>

      <hr>

    <!--<div class="col-md-offset-3 col-md-6">-->
        
    <!--    <h3><a href=" {{ url_for('admin') }}"></a>Site Admin</h3>-->
        
    <!--    {% with messages = get_flashed_messages() %}-->
    <!--    {% if messages %}-->
    <!--    <div id="messages">-->
    <!--        <ul class="flashes">-->
    <!--            {% for message in messages %}-->
    <!--            <li>{{ message }}</li>-->
    <!--            {% endfor %}-->
    <!--        </ul>    -->
    <!--    </div>-->
        
    <!--    {% endif %}-->
    <!--    {% endwith %}-->
        
    <!--    <p>-->
    <!--        Welcome, {{session.username}} - <a href = "{{ url_for('logout') }}">Logout</a>-->
    <!--    </p>-->
        
    <!--    <div class="post-list">-->
    <!--        {% for post in posts.items %}-->
    <!--            <div class="row post-item">-->
    <!--             <div class="col-md-9">-->
    <!--                <h4><a href="{{ url_for('article', slug=post.slug) }}">{{ post.title }}</a>-->
    <!--                {% if not post.live %}(deleted){% endif %}</h4>-->
    <!--                <div class="text-muted">Posted by <a href="#">{{ post.author.fullname }}</a>-->
    <!--                on {{ post.publish_date.strftime('%Y-%m-%d') }}-->
    <!--                in <a href="#">{{ post.category.name }}</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="col-md-3">-->
    <!--                {% if post.image %}-->
    <!--                <img src="{{ post.imgsrc }}" height="60px" class="img-rounded" />-->
    <!--                {% endif %}-->
    <!--            </div>-->
    <!--        </div>-->
    <!--            <hr/>-->
    <!--        {% endfor %}-->
    <!--    </div>-->
        
        
    <!--    <div class="post-paginate">-->
    <!--    {% if posts.has_prev %}-->
    <!--    <a href="{{ url_for('admin', page=posts.prev_num) }}">&lt;&lt; Newer posts</a>-->
    <!--    {% else %}-->
    <!--    &lt;&lt; Newer posts-->
    <!--    {% endif %} | -->
    <!--    {% if posts.has_next %}-->
    <!--    <a href="{{ url_for('admin', page=posts.next_num) }}"> Older posts &gt;&gt;</a>-->
    <!--    {% else %}-->
    <!--    Older posts  &gt;&gt;-->
    <!--    {% endif %}-->
    <!--    </div>-->
        
    <!--</div>-->
        

{% endblock %}
