{% extends "base.html" %}
{% set active_page = "admin" %}
{% block title %}Import Crime{% endblock %}
{% block projectname %}{{ blog.name }}{% endblock %}
{% block content %}

<div class='row'>
    <div class="col-md-offset-3 col-md-6">

        
         <div class="row" style="padding-top: 50px">
        <div class="col-md-4">
                <h2>Import Crimes</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>

        </div>
        <div class="col-md-8">
            
          <div class="well" >
                 {% from "_formhelpers.html" import render_field %}
      
        <form method = "POST" action = "" enctype="multipart/form-data" role = "form">

            
            {{ form.hidden_tag() }}
             
            
            {{ render_field(form.csv, class='form-control') }}
            
             {% with messages = get_flashed_messages() %}
               {% if prompt == "Import Crimes" %}
                    {% if messages %}
                    <div id="messages">
                        <ul class="flashes">
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>    
                    </div>
                  {% endif %}
            {% endif %}
          {% endwith %}
        
             <div align="right" >
                   <input type='submit' name="btn" value="Import Crimes" class="btn btn-default">
             </div>
          
               
        </form>
        </div>
        
       </div>
      
      
      
      
      
      </div>

      <hr>
      
          <div class="row" style="padding-top: 50px">
        <div class="col-md-4">
                <h2>Import Barangays</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>

        </div>
        <div class="col-md-8">
            
          <div class="well" >
                 {% from "_formhelpers.html" import render_field %}
      
        <form method = "POST" action = "" enctype="multipart/form-data" role = "form">

            
            {{ form.hidden_tag() }}
             
            
            {{ render_field(form.csv, class='form-control') }}
            
            {% with messages = get_flashed_messages() %}
               {% if prompt == "Import Barangays" %}
                    {% if messages %}
                    <div id="messages">
                        <ul class="flashes">
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>    
                    </div>
                  {% endif %}
            {% endif %}
          {% endwith %}
        
        
             <div align="right" >
                   <input type='submit' name="btn" value="Import Barangays" class="btn btn-default">
             </div>
          
               
        </form>
        </div>
        
       </div>
      
      
      
      
      
      </div>

      <hr>
      
      <div class="row" style="padding-top: 50px">
        <div class="col-md-4">
                <h2>Import Population</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>

        </div>
        <div class="col-md-8">
            
          <div class="well" >
                 {% from "_formhelpers.html" import render_field %}
      
        <form method = "POST" action = "" enctype="multipart/form-data" role = "form">

            
            {{ form.hidden_tag() }}
             
            
            {{ render_field(form.csv, class='form-control') }}
            
            {% with messages = get_flashed_messages() %}
               {% if prompt == "Import Populations" %}
                    {% if messages %}
                    <div id="messages">
                        <ul class="flashes">
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>    
                    </div>
                  {% endif %}
            {% endif %}
          {% endwith %}
        
        
             <div align="right" >
                   <input type='submit' name="btn" value="Import Populations" class="btn btn-default">
             </div>
          
               
        </form>
        </div>
        
       </div>
      
      
      
      
      
      </div>

      <hr>
      
          <div class="row" style="padding-top: 50px">
        <div class="col-md-4">
                <h2>Import Crime Types</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>

        </div>
        <div class="col-md-8">
            
          <div class="well" >
                 {% from "_formhelpers.html" import render_field %}
      
        <form method = "POST" action = "" enctype="multipart/form-data" role = "form">

            
            {{ form.hidden_tag() }}
             
            
            {{ render_field(form.csv, class='form-control') }}
            
            {% with messages = get_flashed_messages() %}
               {% if prompt == "Import Types" %}
                    {% if messages %}
                    <div id="messages">
                        <ul class="flashes">
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>    
                    </div>
                  {% endif %}
            {% endif %}
          {% endwith %}
        
        
             <div align="right" >
                   <input type='submit' name="btn" value="Import Types" class="btn btn-default">
             </div>
          
               
        </form>
        </div>
        
       </div>
      
      
      
      
      
      </div>

      <hr>
      
      
    </div>
</div>

{% endblock %}