{% extends "base.html" %}
{% set active_page = "admin" %}
{% block title %} Site Admin {% endblock %} 
{% block projectname %}{{ blog.name }}{% endblock %}
{% block content %}

 <div class="container">
  <h2 class="page-header">Manage Posts 
     
  </h2>
   {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="messages">
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>    
        </div>
        
        {% endif %}
        {% endwith %}
   <div align="right">
      <a class="btn btn-default" href="{{url_for('post')}}">
      <span class="glyphicon glyphicon-plus"></span> New Post </a>
      <a class="btn btn-default" href="{{url_for('managecategory')}}">
        Manage Category </a>
      </div>
        
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Category</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        {% for post in posts.items %}
        
      <tr>
        <td>{{post.id}}</td>
        <td>{{post.title}}</td>
        <td>{{post.category.name}}</td>
         <td> {% if post.live == False %}
         <a href="{{ url_for('retrieve', post_id=post.id) }}">Retrieve</a> -
                 (deleted)
              {% else %}
                <a href="{{ url_for('edit', post_id=post.id) }}">Edit</a> -
                <a href="{{ url_for('delete', post_id=post.id) }}">Delete</a> -
                <a href="{{ url_for('article', slug=post.slug) }}">View</a>
              {% endif %}</td>
      </tr>
      
        {% endfor %}
       
    </tbody>
    
  </table>
   <hr>
  
       <div>
            <!-- Pager -->
                <ul class="pager">
                     {% if posts.has_prev %}
                    <li class="previous">
                        <a href="{{ url_for('manage', page=posts.prev_num) }}">&larr;Newer posts</a>
                    </li>
                    {% endif %}
                    {% if posts.has_next %}
                    <li class="next">
                         <a href="{{ url_for('manage', page=posts.next_num) }}"> Older posts  &rarr;</a>
                    </li>
                     {% endif %}
                </ul>
           
       </div>
      
</div>  

    <div class="container">
          <div class="col-md-4">
                <h2>Manage Site</h2>
                <p></p>

        </div>
        <div class="col-md-8">
              <div class="well" >
                   {% from "_formhelpers.html" import render_field %}
      
                    <form method = "POST" action = "" enctype="multipart/form-data" role = "form">
            
                        
                        {{ form.hidden_tag() }}
                         
                        
                        {{ render_field(form.name, class='form-control') }}

                         <div align="right" >
                               <button type='submit' class="btn btn-default">Change</button>
                         </div>
                      
                   
                      
                    </form>
              </div>    
        </div>
            
        
    </div>
        
              
      

{% endblock %}
