{% extends "base.html" %}
{% set active_page = "map" %}
{% block title %}Crime Map{% endblock %}
{% block projectname %}{{ blog.name }}{% endblock %}
{% block content %}

<div>
      
  <nav class="navbar navbar-default"  role="navigation" >
       {% from "_formhelpers.html" import render_field %}
    <form  class="form-inline" method = "POST" action = "" enctype="multipart/form-data" role = "form">  
            {{ form.hidden_tag() }}
        <div class="container"  style="padding-top:7px">
       
          <div class="form-group">
                 {{ render_field(form.crime_year, class='form-control') }}
             </div>
             &nbsp;&nbsp;
           <div class="form-group">
                 {{ render_field(form.crime_month, class='form-control') }}
             </div>
             &nbsp;&nbsp;
  
          <div class="form-group">
                 {{ render_field(form.crime_types, class='form-control') }}
             </div>
             &nbsp;&nbsp;
       
             <div class="form-group">
                {{ render_field(form.barangays, class='form-control') }}
             </div>
             <div class="form-group">
                <button type='submit' class="btn btn-default">Filter</button>
             </div>
        </div>
    </form>

</div>



<div class="row">
  <div class="container-full">
        <div class='col-md-9 '>
            <div id='legend' style='display:none;'>
                <strong>Crime Legends</strong>
                 <nav class='legend clearfix'>
                 <div class='my-legend'>
                      <div class='legend-scale'>
                        <ul class='legend-labels'>
                          {% for type in crime_types %}
                            <li><span style='background:{{type.hexcolor}};'></span>{{type.name}}</li>
                          {% endfor %}
                        </ul>
                      </div>
                   </div>
              </div>
              <div class="custom-popup " id='map' style="width:100%; height:840px;"> </div>
         </div>
  
         <div class='col-md-3' >
           <div>
              <embed type="image/svg+xml" src={{graph_data|safe}} >
           </div>
             <div class='legend-title'>Statistics | Crime Counts: {{count}} <hr>

                    <a href="{{url_for('graph')}}" class="btn btn-warning btn-block active">Crime Graph</a>
                    <a href="{{url_for('histograph')}}" class="btn btn-danger btn-block active">HistoGraph</a>
                    <a href="{{url_for('statistics')}}" class="btn btn-success btn-block active">Crime Statistics</a>
            <div>
                <h3>Incidents</h3><hr>
            </div>
            <div id='listings' class='listings' style="height:470px"></div>
            <br>
          </div>

 
  
  </div>
</div>
  
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

  <script>
  
  L.mapbox.accessToken = "pk.eyJ1IjoiZHRyaW5pZGFkaXYiLCJhIjoiY2lqYTA5aHN0MDA0MHVsa245NGZpM3NuNSJ9.9bO-Y4WM8tHMPZbRZVyfMQ";
 
 var data = {
              "type": "FeatureCollection",
              "features": [
                {% for obj in object_list %}
                {
                  "type": "Feature",
                  "properties": {
                    "id": "{{ obj.id }}",
                    "crime_type": "{{ obj.crime_type }}",
                    "crime_date": "{{ obj.crime_date }}",
                     "judgement_date": "{{ obj.judgement_date }}",
                    "crime": "{{ obj.crime }}",
                    "barangay": "{{ obj.barangay }}",
                      "crime_info": "{{ obj.crime_info }}",
                        "case_info": "{{ obj.case_info }}",
                    {% for type in crime_types %}
                     {% if type.name == obj.crime_type %}
                    "marker-color": "{{type.hexcolor}}",
                     {% endif %}
                    {% endfor %}
                     "marker-size": "small"
                  },
                  "geometry": {
                    "type": "Point",
                    "coordinates": [{{ obj.lon }}, {{ obj.lat }}]
                  }
                }{% if not loop.last %},{% endif %}
                {% endfor %}
              ]
            };
 
  var map = L.mapbox.map('map', 'mapbox.streets')
  {% if isBarangay == False %}
  .setView([13.620838, 123.20328], 15);
  {% endif %}
  {% if isBarangay == True %}
    {% for obj in barangay %}
      .setView([{{obj.latitude}},{{obj.longitude}}],15)
    {%endfor%}
  {% endif %}
  
  
  
  map.legendControl.addLegend(document.getElementById('legend').innerHTML);
  
  var listings = document.getElementById('listings');
  var locations = L.mapbox.featureLayer().addTo(map);

  locations.setGeoJSON(data);
  
  function setActive(el) {
    var siblings = listings.getElementsByTagName('div');
    for (var i = 0; i < siblings.length; i++) {
      siblings[i].className = siblings[i].className
      .replace(/active/, '').replace(/\s\s*$/, '');
    }

    el.className += ' active';
  }

  locations.eachLayer(function(locale) {

    // Shorten locale.feature.properties to just `prop` so we're not
    // writing this long form over and over again.
    var prop = locale.feature.properties;

    // Each marker on the map.
    var popup = '<h3>'+ prop.id + " | " + prop.crime_type
            + '</h3><div>' + prop.crime_date   +
            '<a href="map/'+  prop.id + '/"> - view</a>'

    var listing = listings.appendChild(document.createElement('div'));
    listing.className = 'item';

    var link = listing.appendChild(document.createElement('a'));
    link.href = '#';
    link.className = 'title';

    link.innerHTML = prop.id + "-" + prop.crime_type
    
    var details = listing.appendChild(document.createElement('div'));
    details.innerHTML = prop.barangay;
   
      details.innerHTML += '<br> &middot; ' + prop.crime_date;
   
    link.onclick = function() {
      setActive(listing);

      // When a menu item is clicked, animate the map to center
      // its associated locale and open its popup.
      map.setView(locale.getLatLng(), 16);
      locale.openPopup();
      return false;
    };

    // Marker interaction
    locale.on('click', function(e) {
      // 1. center the map on the selected marker.
      map.panTo(locale.getLatLng());

      // 2. Set active the markers associated listing.
      setActive(listing);
    });

    popup += '</div>';
    locale.bindPopup(popup);



});

</script>
{% endblock %}}
