{% extends "base.html" %}
{% set active_page = "map" %}
{% block title %}Crime Map{% endblock %}
{% block projectname %}{{ blog.name }}{% endblock %}
{% block content %}


<div class="container">
   <div>
     
  <nav class="navbar navbar-default"  role="navigation" >
       {% from "_formhelpers.html" import render_field %}
    <form  class="form-inline" method = "POST" action = "" enctype="multipart/form-data" role = "form">  
            {{ form.hidden_tag() }}
        <div class="container"  style="padding-top:7px" >
            <div class="form-group">
                 {{ render_field(form.crime_year, class='form-control') }}
             </div>
             &nbsp;&nbsp;
             
          <div class="form-group" >
                 {{ render_field(form.barangays, class='form-control') }}
             </div>
             <div class="form-group">
                <button type='submit' class="btn btn-default">Filter</button>
             </div> |
              <div class="form-group">
                 <a href="{{url_for('graph')}}" class="btn btn-warning btn-block active">Crime Graph</a>
             </div>
             
              <div class="form-group">
                 <a href="{{url_for('histograph')}}" class="btn btn-danger btn-block active">HistoGraph</a>
             </div>
              <div class="form-group">
                <a href="{{url_for('mapbox')}}" class="btn btn-primary btn-block active">Mapping</a>
             </div>
             
              
        </div>
    </form>

</div>

    <embed type="image/svg+xml" src={{graph_data|safe}} style="max-width:1500px">
    
    <div class="well">
         <div align="right">
           <small style="color:orange"><b>*(Number of Crimes / Population) x 100,000 = Crime Rate Per 100,000</b></small> 
        </div>
    </div>
   
    
</div>





{% endblock %}}
