{% extends "base.html" %}
{% set active_page = "admin" %}
{% block title %} Site Admin {% endblock %} 
{% block projectname %}{{ blog.name }}{% endblock %}
{% block content %}


<div class="container">
  <h2 class="page-header">Case List
     
  </h2>
   {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="messages">
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>    
        </div>
        
        {% endif %}
        {% endwith %}
   <div align="right">
      <a class="btn btn-default" href="{{url_for('admin')}}">
       Admin</a>
      </div>
        
  <table class="table table-hover">
    <thead>
      <tr>
         
        <th>Case No</th>
        <th>Case Info</th>
        <th>Crime Info</th>
        <th>Address</th>
        <th>Crime Date</th>
        <th>Crime Type</th>
         <th>Action</th>
      </tr>
    </thead>
    <tbody>
        {% for case in cases.items %}
        
      <tr>
          
          <td>{{case.id}}</td>
        <td>{{case.case_info}}</td>
        <td>{{case.crime_info}}</td>
        <td>{{case.address}}</td>
        <td>{{case.crime_date}}</td>
        <td>{{case.crime_type}}</td>
          <td>
            <a href="{{url_for('deletecase',case_id = case.id)}}">Remove</a>
        </td>
        
         
       
      </tr>
      
        {% endfor %}
       
    </tbody>
    
  </table>
   <hr>
  
       <div>
            <!-- Pager -->
                <ul class="pager">
                     {% if cases.has_prev %}
                    <li class="previous">
                        <a href="{{ url_for('managecases', page=cases.prev_num) }}">&larr;Previous</a>
                    </li>
                    {% endif %}
                    {% if cases.has_next %}
                    <li class="next">
                         <a href="{{ url_for('managecases', page=cases.next_num) }}"> Next &rarr;</a>
                    </li>
                     {% endif %}
                </ul>
           
       </div>
       
       
       
        
                
        <div class="container">
          <div class="col-md-12 well">
                <h2>Add Cases</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>

        </div>
        <div class="col-md-12">
              <div class="well" >
                   {% from "_formhelpers.html" import render_field %}
          
                    <form method = "POST" action = "" enctype="multipart/form-data" role = "form">
                
                        
                        {{ form.hidden_tag() }}
                         
                        
                       <div class="col-md-4">
                            {{ render_field(form.case_no, class='form-control') }}    
                        </div>
                        
                         
                        <div class="col-md-4">
                            {{ render_field(form.judgement_date, class='form-control',type="date") }}    
                        </div>
                        
                        <div class="col-md-4">
                            {{ render_field(form.crime_date, class='form-control',required="required",type="date") }}    
                        </div>
                        
                          {{ render_field(form.case_info, class='form-control') }}
                          
                          {{ render_field(form.crime_info, class='form-control') }}
                        
                          
                         <div class="col-md-6">
                            {{ render_field(form.barangay, class='form-control',type="date") }}    
                        </div>
                        
                        <div class="col-md-6">
                            {{ render_field(form.crime_type, class='form-control',required="required",type="date") }}    
                        </div>
                         {{ render_field(form.address, class='form-control') }}
                         <hr>
                        
                        <div id='map' id='map' style="width:100%; height:400px;"></div>
                        <div class="" style="display:none">
                            
                             <div class="col-md-6">
                            {{ render_field(form.lon, class='form-control',required="required",readonly="true",id='lon') }}    
                        </div>
                        
                        <div class="col-md-6">
                            {{ render_field(form.lat, class='form-control',required="required",readonly="true",id='lat') }}    
                        </div>
                            
                        </div>
                       
                        
                        <pre id='coordinates' class='coordinates'></pre>
                        <hr>
                        
                         <div align="right" >
                               <button type='submit' class="btn btn-default">Add</button>
                         </div>
                      
                   
                      
                    </form>
              </div>    
        </div>
            
        
    </div>
        <br><br><br>
      
</div>  


 <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
 <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.24.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.24.0/mapbox-gl.css' rel='stylesheet' />
<style>
.coordinates {
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    bottom: 125px;
    left:38px;
    padding:5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}
</style>

    
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiZHRyaW5pZGFkaXYiLCJhIjoiY2lqYTA5aHN0MDA0MHVsa245NGZpM3NuNSJ9.9bO-Y4WM8tHMPZbRZVyfMQ';

    
    // Holds mousedown state for events. if this
// flag is active, we move the point on `mousemove`.
var isDragging;

// Is the cursor over a point? if this
// flag is active, we listen for a mousedown event.
var isCursorOverPoint;

var coordinates = document.getElementById('coordinates');
var longitude = document.getElementById('lon');
var latitude = document.getElementById('lat');
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9',
    center: [123.20328,13.620838],
    zoom: 14
});

var canvas = map.getCanvasContainer();

var geojson = {
    "type": "FeatureCollection",
    "features": [{
        "type": "Feature",
        "geometry": {
            "type": "Point",
            "coordinates": [123.20328, 13.620838]
        }
    }]
};

function mouseDown() {
    if (!isCursorOverPoint) return;

    isDragging = true;

    // Set a cursor indicator
    canvas.style.cursor = 'grab';

    // Mouse events
    map.on('mousemove', onMove);
    map.on('mouseup', onUp);
}

function onMove(e) {
    if (!isDragging) return;
    var coords = e.lngLat;

    // Set a UI indicator for dragging.
    canvas.style.cursor = 'grabbing';

    // Update the Point feature in `geojson` coordinates
    // and call setData to the source layer `point` on it.
    geojson.features[0].geometry.coordinates = [coords.lng, coords.lat];
    map.getSource('point').setData(geojson);
}

function onUp(e) {
    if (!isDragging) return;
    var coords = e.lngLat;

    // Print the coordinates of where the point had
    // finished being dragged to on the map.
    coordinates.style.display = 'block';
    coordinates.innerHTML = 'Longitude: ' + coords.lng + '<br />Latitude: ' + coords.lat;
    longitude.value = coords.lng;
    latitude.value = coords.lat;
    canvas.style.cursor = '';
    isDragging = false;
}

map.on('load', function() {

    // Add a single point to the map
    map.addSource('point', {
        "type": "geojson",
        "data": geojson
    });

    map.addLayer({
        "id": "point",
        "type": "circle",
        "source": "point",
        "paint": {
            "circle-radius": 10,
            "circle-color": "#3887be"
        }
    });

    // If a feature is found on map movement,
    // set a flag to permit a mousedown events.
    map.on('mousemove', function(e) {
        var features = map.queryRenderedFeatures(e.point, { layers: ['point'] });

        // Change point and cursor style as a UI indicator
        // and set a flag to enable other mouse events.
        if (features.length) {
            map.setPaintProperty('point', 'circle-color', '#3bb2d0');
            canvas.style.cursor = 'move';
            isCursorOverPoint = true;
            map.dragPan.disable();
        } else {
            map.setPaintProperty('point', 'circle-color', '#3887be');
            canvas.style.cursor = '';
            isCursorOverPoint = false;
            map.dragPan.enable();
        }
    });

    // Set `true` to dispatch the event before other functions call it. This
    // is necessary for disabling the default map dragging behaviour.
    map.on('mousedown', mouseDown, true);
});

</script>
  
{% endblock %}

